UIFlows.json
[{"id":"b4dd6972.9a1178","type":"tab","label":"TwitterUI","disabled":false,"info":""},{"id":"8d2201c0.972fa8","type":"tab","label":"Live Tweets","disabled":false,"info":""},{"id":"206313a6.edff74","type":"tab","label":"User Analysis","disabled":false,"info":""},{"id":"57eee630.7cd298","type":"ui_tab","z":"","name":"Home","icon":"twitter","order":1,"disabled":false,"hidden":false},{"id":"d3c363cf.0de8","type":"ui_group","z":"","name":"Emotions Analysis","tab":"2f515bcc.c6cf74","order":3,"disp":true,"width":"8","collapse":false},{"id":"db39b24.678495","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#00dbdb","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#800080","baseFont":"Times New Roman,Times,serif","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#ffffff","baseFont":"Times New Roman,Times,serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#ffffff","edited":true},"page-titlebar-backgroundColor":{"value":"#8860d0","edited":true},"page-backgroundColor":{"value":"#61892f","edited":true},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ffffff","edited":true},"group-borderColor":{"value":"#c1c8e4","edited":true},"group-backgroundColor":{"value":"#5ab9ea","edited":true},"widget-textColor":{"value":"#ffffff","edited":true},"widget-backgroundColor":{"value":"#84ceeb","edited":true},"widget-borderColor":{"value":"#84ceeb","edited":true},"base-font":{"value":"Times New Roman,Times,serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"light-blue","palette":"dark"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":65,"sy":48,"gx":4,"gy":6,"cx":8,"cy":6,"px":10,"py":10}}},{"id":"18dc9e48.3604f2","type":"ui_group","z":"","name":"Message","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"17e2cbd1.64c174","type":"ui_group","z":"","name":"Registration","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"10dd927b.c844ce","type":"ui_group","z":"","name":"Registration","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"6a49154.8be98ec","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"b7db7875.0369a8","type":"ui_group","z":"","name":"Weather Monitoring","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"f6aef492.750d08","type":"ui_group","z":"","name":"UI","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"96e8f2bf.8b1af","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":false,"width":"27","collapse":false},{"id":"a7cded91.ca5a6","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"24118f29.715ca","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"a8ac1f68.12e02","type":"ibmiot","z":0,"name":"","keepalive":"60","serverName":"m5w070.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"ec3c3dad.a8dae","type":"ui_group","z":"","name":"Emotions Analysis","tab":"6e289685.3f4ce8","order":3,"disp":true,"width":8,"collapse":false},{"id":"f71d6805.b25cc8","type":"ui_group","z":"","name":"Sentiment Analysis","tab":"6e289685.3f4ce8","order":2,"disp":true,"width":6,"collapse":false},{"id":"65fdd35b.12aa1c","type":"ui_group","z":"","name":"Analysis of #COVID19 Tweets","tab":"6e289685.3f4ce8","order":1,"disp":true,"width":"6","collapse":false},{"id":"6e289685.3f4ce8","type":"ui_tab","z":"","name":"Covid Tweets Analysis","icon":"assessment","order":2,"disabled":false,"hidden":false},{"id":"3a277867.c02f4","type":"ui_spacer","name":"spacer","group":"6872ec8d.bd7784","order":2,"width":1,"height":1},{"id":"9454895c.791968","type":"ui_group","z":"","name":"Analysis of #lockdown Tweets","tab":"2f515bcc.c6cf74","order":1,"disp":true,"width":"6","collapse":false},{"id":"437559e7.2fe","type":"ui_group","z":"","name":"Sentiments Analysis","tab":"2f515bcc.c6cf74","order":2,"disp":true,"width":"6","collapse":false},{"id":"7b031794.b3b9e","type":"ui_group","z":"","name":"Live","tab":"940828d8.73473","order":2,"disp":false,"width":17,"collapse":false},{"id":"940828d8.73473","type":"ui_tab","z":"","name":"Live Analysis","icon":"show_chart","order":4,"disabled":false,"hidden":false},{"id":"cc426277.60f548","type":"ui_group","z":"","name":"Home","tab":"57eee630.7cd298","order":4,"disp":false,"width":20,"collapse":false},{"id":"2f515bcc.c6cf74","type":"ui_tab","z":"","name":"Lockdown Tweets Analysis","icon":"home","order":3,"disabled":false,"hidden":false},{"id":"eb9696b1.305da8","type":"ui_tab","z":"","name":"Check Your Own Sentiment!","icon":"people","order":5,"disabled":false,"hidden":false},{"id":"2b319d26.737cfa","type":"ui_group","z":"","name":"Enter a Text to Analyse","tab":"eb9696b1.305da8","order":1,"disp":true,"width":8,"collapse":false},{"id":"7875d88c.30f3d8","type":"ui_group","z":"","name":"Analysis","tab":"eb9696b1.305da8","order":2,"disp":true,"width":6,"collapse":false},{"id":"7cfcc003.7b44e8","type":"twitter-credentials","z":0,"screen_name":"shreyas_udupa"},{"id":"72b3d1da.b7ac68","type":"ui_tab","z":"","name":"iot","icon":"dashboard","disabled":false,"hidden":false},{"id":"99284a8d.480e68","type":"ui_group","z":"","name":"weather","tab":"72b3d1da.b7ac68","order":1,"disp":true,"width":"6","collapse":false},{"id":"e1a1862.1da16f8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"ex0kwa.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"4000760a.85f548","type":"ui_group","z":"","name":"UI","tab":"7fe025b9.1f6a14","order":1,"disp":true,"width":"6","collapse":false},{"id":"7fe025b9.1f6a14","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","disabled":false,"hidden":false},{"id":"38ebc19c.d8870e","type":"ui_group","z":"","name":"Default","tab":"6a2902ae.91ad84","order":1,"disp":false,"width":"27","collapse":false},{"id":"6a2902ae.91ad84","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":true},{"id":"6d96d920.cc9ef","type":"ui_tab","z":"","name":"Homepage","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ccdca5b1.29a438","type":"ui_group","z":"","name":"Emotions Analysis","tab":"d51cc8fc.103cc","order":3,"disp":true,"width":"8","collapse":false},{"id":"ede96ef0.eb857","type":"ui_group","z":"","name":"Message","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"f6d7dc06.b44738","type":"ui_group","z":"","name":"Registration","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"818ecbae.1d6718","type":"ui_group","z":"","name":"Registration","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"8ad43ffb.92b7b","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"cb54cd49.8298d","type":"ui_group","z":"","name":"Weather Monitoring","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"39fa9fc7.9850d8","type":"ui_group","z":"","name":"UI","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"c31c5a63.a6f92","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":false,"width":"27","collapse":false},{"id":"bd7316e.914e5e8","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"8c14fb01.091a78","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"4900b4a9.a0e7fc","type":"ibmiot","z":0,"name":"","keepalive":"60","serverName":"m5w070.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"3e18b67a.0530d2","type":"ui_group","z":"","name":"Emotions Analysis","tab":"951a0176.dec98","order":3,"disp":true,"width":"8","collapse":false},{"id":"493e60eb.a2ae5","type":"ui_group","z":"","name":"Sentiment Analysis","tab":"951a0176.dec98","order":2,"disp":true,"width":"6","collapse":false},{"id":"4ec9977a.11177","type":"ui_group","z":"","name":"Button","tab":"951a0176.dec98","order":1,"disp":false,"width":"6","collapse":false},{"id":"951a0176.dec98","type":"ui_tab","z":"","name":"Covid Tweets Analysis","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"2d4a71b.f31630e","type":"ui_spacer","name":"spacer","group":"6872ec8d.bd7784","order":2,"width":1,"height":1},{"id":"b0c8feff.740798","type":"ui_group","z":"","name":"Button","tab":"d51cc8fc.103cc","order":1,"disp":false,"width":"6","collapse":false},{"id":"c4102a2c.b2a158","type":"ui_group","z":"","name":"Sentiments Analysis","tab":"d51cc8fc.103cc","order":2,"disp":true,"width":"6","collapse":false},{"id":"90bf58eb.f8fdc8","type":"ui_group","z":"","name":"Live","tab":"f85141b6.6a346","order":1,"disp":false,"width":"17","collapse":false},{"id":"f85141b6.6a346","type":"ui_tab","z":"","name":"Live Analysis","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"e40ae77b.14d5f","type":"ui_group","z":"","name":"Home","tab":"6d96d920.cc9ef","order":4,"disp":false,"width":"20","collapse":false},{"id":"d51cc8fc.103cc","type":"ui_tab","z":"","name":"Lockdown Tweets Analysis","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"bb5bf102.e62a88","type":"twitter-credentials","z":"","screen_name":"shreyas_udupa"},{"id":"68115937.0ef6f8","type":"ui_tab","z":"","name":"Home","icon":"twitter","order":1,"disabled":false,"hidden":false},{"id":"388b2f58.d75f68","type":"ui_group","z":"","name":"Emotions Analysis","tab":"9f34b4c4.457a4","order":3,"disp":true,"width":"8","collapse":false},{"id":"320288b8.e6997","type":"ui_group","z":"","name":"Message","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"a88ed310.5abdd8","type":"ui_group","z":"","name":"Registration","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"17b5c31a.8a0bc5","type":"ui_group","z":"","name":"Registration","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"d70285ea.41656","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"2427f49b.e23ed4","type":"ui_group","z":"","name":"Weather Monitoring","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"7f811967.9f4968","type":"ui_group","z":"","name":"UI","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"1185fc0e.17b4cc","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":false,"width":"27","collapse":false},{"id":"bdf97ac9.6a8898","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"23f4afb0.23ff9","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"eac77671.d4eb18","type":"ibmiot","z":0,"name":"","keepalive":"60","serverName":"m5w070.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"b107091a.2187c8","type":"ui_group","z":"","name":"Emotions Analysis","tab":"a8ef3d3c.f19b","order":3,"disp":true,"width":8,"collapse":false},{"id":"8dd18520.9e795","type":"ui_group","z":"","name":"Sentiment Analysis","tab":"a8ef3d3c.f19b","order":2,"disp":true,"width":6,"collapse":false},{"id":"46523cb8.c5895c","type":"ui_group","z":"","name":"Analysis of #COVID19 Tweets","tab":"a8ef3d3c.f19b","order":1,"disp":true,"width":"6","collapse":false},{"id":"a8ef3d3c.f19b","type":"ui_tab","z":"","name":"Covid Tweets Analysis","icon":"assessment","order":2,"disabled":false,"hidden":false},{"id":"cf461c2b.3bbe08","type":"ui_spacer","name":"spacer","group":"6872ec8d.bd7784","order":2,"width":1,"height":1},{"id":"65758d6.c033ff4","type":"ui_group","z":"","name":"Analysis of #lockdown Tweets","tab":"9f34b4c4.457a4","order":1,"disp":true,"width":"6","collapse":false},{"id":"1f06ee9b.6613d1","type":"ui_group","z":"","name":"Sentiments Analysis","tab":"9f34b4c4.457a4","order":2,"disp":true,"width":"6","collapse":false},{"id":"83cd1aab.6b016","type":"ui_group","z":"","name":"Live","tab":"22865264.1d0f9e","order":2,"disp":false,"width":17,"collapse":false},{"id":"22865264.1d0f9e","type":"ui_tab","z":"","name":"Live Analysis","icon":"show_chart","order":4,"disabled":false,"hidden":false},{"id":"1485d101.a207a7","type":"ui_group","z":"","name":"Home","tab":"68115937.0ef6f8","order":4,"disp":false,"width":20,"collapse":false},{"id":"9f34b4c4.457a4","type":"ui_tab","z":"","name":"Lockdown Tweets Analysis","icon":"home","order":3,"disabled":false,"hidden":false},{"id":"a88f729.e74b91","type":"ui_tab","z":"","name":"Check Your Own Sentiment!","icon":"people","order":5,"disabled":false,"hidden":false},{"id":"5161c71b.bc21b","type":"ui_group","z":"","name":"Enter a Text to Analyse","tab":"a88f729.e74b91","order":1,"disp":true,"width":8,"collapse":false},{"id":"d2ab85d3.b3cb08","type":"ui_group","z":"","name":"Analysis","tab":"a88f729.e74b91","order":2,"disp":true,"width":6,"collapse":false},{"id":"156618d6.ad974f","type":"twitter-credentials","z":"","screen_name":"shreyas_udupa"},{"id":"2c55f022.5d909","type":"ui_chart","z":"b4dd6972.9a1178","name":"","group":"b107091a.2187c8","order":1,"width":8,"height":11,"label":"Bar Graph of Emotions","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#f8ff99","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":850,"y":200,"wires":[[]]},{"id":"8f273cd9.4b60d","type":"function","z":"b4dd6972.9a1178","name":"","func":"var m = {};\n\nm.labels=['Positive','Negative','Neutral'];\nm.data=[[50.2,20.3,29.6]];\nm.series=[\"Emotions\"];\nreturn {payload:[m],topic:msg.topic};\n\n","outputs":1,"noerr":0,"x":540,"y":100,"wires":[["ab32a683.e828c"]]},{"id":"718bc1ca.86f9a","type":"function","z":"b4dd6972.9a1178","name":"","func":"var m = {};\n\nm.labels=['Happy','Anxious','Angry','Free','Fearful','Powerless','Sad','Alone','Average','Adequate','Surprise'];\nm.data=[[49,4,10,44,29,24,49,17,19,19,3]];\nm.series=[\"Emotions\"];\nreturn {payload:[m],topic:msg.topic};\n","outputs":1,"noerr":0,"x":540,"y":200,"wires":[["2c55f022.5d909"]]},{"id":"4f6a86fc.6ff78","type":"function","z":"b4dd6972.9a1178","name":"","func":"var m = {};\n\nm.labels=['Positive','Negative','Neutral'];\nm.data=[[46.0,31.9,22.1]];\nm.series=[\"Emotions\"];\nreturn {payload:[m],topic:msg.topic};\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":320,"wires":[["cdf0f69.b85cf88"]]},{"id":"d9e93d21.d059a8","type":"function","z":"b4dd6972.9a1178","name":"","func":"var m = {};\n\nm.labels=['Happy','Anxious','Angry','Free','Fearful','Powerless','Sad','Alone','Average','Adequate','Surprise'];\nm.data=[[80,3,25,41,19,52,83,2,19,43,9]];\nm.series=[\"Emotions\"];\nreturn {payload:[m],topic:msg.topic};\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":460,"wires":[["a41bc897.c7c5a"]]},{"id":"cdf0f69.b85cf88","type":"ui_chart","z":"b4dd6972.9a1178","name":"","group":"1f06ee9b.6613d1","order":1,"width":6,"height":11,"label":"Pie Chart of Polarity","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ffffff","#ffc2c2","#a9ff9e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":860,"y":320,"wires":[[]]},{"id":"a41bc897.c7c5a","type":"ui_chart","z":"b4dd6972.9a1178","name":"","group":"388b2f58.d75f68","order":1,"width":8,"height":11,"label":"Bar Graph of Emotions","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#fdff94","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":860,"y":460,"wires":[[]]},{"id":"2acf4fe4.bc3b9","type":"inject","z":"b4dd6972.9a1178","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":320,"wires":[["99508fc9.9cfe28"]]},{"id":"d1c760aa.49b778","type":"inject","z":"b4dd6972.9a1178","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":360,"wires":[["7ba303c5.3a55dc"]]},{"id":"9a0f4cfd.acfd88","type":"inject","z":"b4dd6972.9a1178","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":400,"wires":[["5be1e19.b01792"]]},{"id":"99508fc9.9cfe28","type":"function","z":"b4dd6972.9a1178","name":"label","func":"var m = [\n    {label:\"A\", payload:22, series:\"X\"},\n    {label:\"B\", payload:66, series:\"X\"},\n    {label:\"C\", payload:42, series:\"X\"},\n    {label:\"A\", payload:33, series:\"Y\"},\n    {label:\"B\", payload:72, series:\"Y\"},\n    {label:\"C\", payload:12, series:\"Y\"},\n    {label:\"A\", payload:44, series:\"Z\"},\n    {label:\"B\", payload:32, series:\"Z\"},\n    {label:\"C\", payload:80, series:\"Z\"}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":250,"y":320,"wires":[["2c55f022.5d909","a41bc897.c7c5a","ab32a683.e828c","cdf0f69.b85cf88"]]},{"id":"7ba303c5.3a55dc","type":"function","z":"b4dd6972.9a1178","name":"label","func":"var m = [\n    {label:\"A\", payload:22},\n    {label:\"B\", payload:66},\n    {label:\"C\", payload:42},\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":270,"y":360,"wires":[["2c55f022.5d909","a41bc897.c7c5a","ab32a683.e828c","cdf0f69.b85cf88"]]},{"id":"5be1e19.b01792","type":"function","z":"b4dd6972.9a1178","name":"topic","func":"var m = [\n    {topic:\"X\", payload:22},\n    {topic:\"Y\", payload:66},\n    {topic:\"Z\", payload:42}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":270,"y":400,"wires":[["2c55f022.5d909","a41bc897.c7c5a","ab32a683.e828c","cdf0f69.b85cf88"]]},{"id":"ab32a683.e828c","type":"ui_chart","z":"b4dd6972.9a1178","name":"","group":"8dd18520.9e795","order":1,"width":6,"height":11,"label":"Pie Chart of Polarity","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"0","useOneColor":false,"useUTC":false,"colors":["#ffffff","#ffb3b3","#8aff92","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":100,"wires":[[]]},{"id":"b42e4d59.7594a","type":"ui_button","z":"b4dd6972.9a1178","name":"","group":"46523cb8.c5895c","order":1,"width":0,"height":0,"passthru":false,"label":"Show Graphs","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":370,"y":40,"wires":[["8f273cd9.4b60d","718bc1ca.86f9a"]]},{"id":"c82b42fc.344838","type":"ui_button","z":"b4dd6972.9a1178","name":"","group":"46523cb8.c5895c","order":2,"width":0,"height":0,"passthru":false,"label":"Clear All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":300,"y":100,"wires":[["ab32a683.e828c","2c55f022.5d909"]]},{"id":"e5f3c779.3a187","type":"ui_button","z":"b4dd6972.9a1178","name":"","group":"65758d6.c033ff4","order":1,"width":0,"height":0,"passthru":false,"label":"Show Graphs","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":320,"y":500,"wires":[["4f6a86fc.6ff78","d9e93d21.d059a8"]]},{"id":"a2ed5d53.de39e8","type":"ui_button","z":"b4dd6972.9a1178","name":"","group":"65758d6.c033ff4","order":2,"width":0,"height":0,"passthru":false,"label":"Clear All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":360,"y":560,"wires":[["a41bc897.c7c5a","cdf0f69.b85cf88"]]},{"id":"783dc16c.9b71c8","type":"delay","z":"8d2201c0.972fa8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":300,"wires":[["f6c4ae61.8503d","9149eb03.3515d"]]},{"id":"274b86ae.8449fa","type":"function","z":"8d2201c0.972fa8","name":"","func":"msg.topic = 'Sentiment'\nmsg.payload=msg.sentiment.score\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":340,"wires":[["e484017b.eb706","9ad19c1d.870188"]]},{"id":"e484017b.eb706","type":"ui_chart","z":"8d2201c0.972fa8","name":"","group":"83cd1aab.6b016","order":1,"width":17,"height":7,"label":"Live Tweet Analysis","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ffffff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":200,"wires":[[]]},{"id":"175ef391.0f3394","type":"ui_button","z":"8d2201c0.972fa8","name":"","group":"83cd1aab.6b016","order":5,"width":8,"height":1,"passthru":false,"label":"Clear All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":640,"y":80,"wires":[["e484017b.eb706","83482ee9.d24bd"]]},{"id":"71ae62cd.09799c","type":"ui_button","z":"8d2201c0.972fa8","name":"","group":"83cd1aab.6b016","order":4,"width":9,"height":1,"passthru":false,"label":"Show Tweets and Analysis","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":640,"y":180,"wires":[["274b86ae.8449fa"]]},{"id":"9149eb03.3515d","type":"ui_text","z":"8d2201c0.972fa8","group":"83cd1aab.6b016","order":2,"width":9,"height":4,"name":"Show Tweets","label":"","format":"{{msg.payload}}","layout":"row-left","x":550,"y":280,"wires":[]},{"id":"7b76b358.a418bc","type":"cloudant out","z":"8d2201c0.972fa8","name":"","cloudant":"","database":"tweets","service":"node-red-aiymi-cloudant-1591679196311-427","payonly":true,"operation":"insert","x":450,"y":60,"wires":[]},{"id":"68985c57.3c5ca4","type":"ui_template","z":"8d2201c0.972fa8","group":"1485d101.a207a7","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n\n     <title>Get Ready - Coming Soon Template</title>\n     <style>\n         /*\n\nGet Ready Template\n\nhttps://templatemo.com/tm-521-get-ready\n\n*/\n  \n  @import url('https://fonts.googleapis.com/css?family=Poppins:300,400');\n\n  body {\n    margin: 0;\n    -webkit-perspective: 1000;\n    font-family: 'Poppins', sans-serif;\n    background: #303030;\n  }\n\n  body, html {\n    height: 100%;\n    width: 100%;\n    overflow-x: hidden;\n  }\n\n\n\n  /*---------------------------------------\n     TYPOGRAPHY              \n  -----------------------------------------*/\n\n  h1,h2,h3,h4,h5,h6 {\n    font-weight: 300;\n    line-height: inherit;\n  }\n\n  h1 {\n    color: rgba(220,223,227,1);\n    font-size: 2em;\n  }\n\n  h2 {\n    color: rgba(0,128,128,1);\n    font-size: 21px;\n  }\n\n  p {\n    color: #ffffff;\n    font-size: 14px;\n    font-weight: normal;\n    line-height: 24px;\n  }\n\n\n\n  /*---------------------------------------\n     GENERAL               \n  -----------------------------------------*/\n\n  html{\n    -webkit-font-smoothing: antialiased;\n  }\n\n  a {\n    color: #202020;\n    text-decoration: none !important;\n  }\n\n  a,\n  input, button,\n  .form-control {\n    -webkit-transition: 0.5s;\n    transition: 0.5s;\n  }\n\n  a:hover, a:active, a:focus {\n    color: #29ca8e;\n    outline: none;\n  }\n\n  /*::-webkit-scrollbar{*/\n  /*  width: 8px;*/\n  /*  height: 8px;*/\n  /*}*/\n\n  /*::-webkit-scrollbar-thumb {*/\n  /*  cursor: pointer;*/\n  /*  background: #202020;*/\n  /*}*/\n\n  .overlay {\n    background: linear-gradient(to top right, #000000, #000000);\n    opacity: 0.9;\n    position: absolute;\n    top: 0;\n    right: 0;\n    bottom: 0;\n    left: 0;\n    width: 100%;\n    height: 100%;\n  }\n\n  /*.grid {*/\n  /*  position: fixed;*/\n  /*  width: 100%;*/\n  /*  height: 100%;*/\n  /*  z-index: 1;*/\n  /*}*/\n\n  /*.grid-line {*/\n  /*  height: 300vh;*/\n  /*  border-right: 1px solid rgba(255,255,255,0.02);*/\n  /*}*/\n\n  .google-map iframe {\n    border: 0;\n    margin-top: 20px;\n  }\n\n  .subscribe-form {\n    position: relative;\n  }\n\n  .subscribe-form .form-control {\n    background: #ffffff;\n    box-shadow: none;\n    border: 0;\n    border-radius: 50px;\n\twidth: 340px;\n    height: 45px;\n    padding: 6px 30px;\n  }\n\n  .subscribe-form button[type=\"submit\"] {\n    background: transparent;\n    border: 0;\n    outline: none;\n  }\n\n  .subscribe-form .fa {\n    cursor: pointer;\n    position: absolute;\n    top: 12px;\n    right: 12px;\n    color: #d2b48c;\n    font-size: 20px;\n  }\n\n\n\n  /*---------------------------------------\n       PRE LOADER              \n  -----------------------------------------*/\n\n \n  /*---------------------------------------\n      MENU              \n  -----------------------------------------*/\n\n  .menu, .menu-bg, .menu-burger {\n    position: fixed;\n    z-index: 222;\n    width: 50px;\n    height: 50px;\n    line-height: 30px;\n    font-size: 25px;\n    text-align: center;\n    border-radius: 100%;\n    right: 25px;\n    top: 25px;\n  }\n\n  .menu-bg {\n    background: #101010;\n    pointer-events: none;\n    transition: .3s;\n    right: 50px;\n    top: 50px;\n    transform: translate3d(50%, -50%, 0);\n    transform-origin: center center;\n  }\n\n  .menu-bg.fs {\n    transform: translate3d(50%, -50%, 0);\n    width: 500vw;\n    height: 500vw;\n  }\n\n  .menu-burger {\n    color: #ffffff;\n    padding-top: 11px;\n    -webkit-user-select: none;\n    cursor: pointer;\n    transition: .4s;\n    transform-origin: center;\n    z-index: 9999;\n  }\n\n  .menu-burger.fs {\n    transform: rotate(-180deg) translateY(5px);\n  }\n\n  .menu-items {\n    display: flex;\n    flex-direction: column;\n    justify-content: center;\n    align-content: center;\n    position: absolute;\n    z-index: 9999;\n    width: 100%;\n    height: 100%;\n    opacity: 0;\n    transition: .4s;\n    margin-top: 50px;\n    transform: translateY(-200%);\n    pointer-events: none;\n  }\n\n  .menu-items ul.menu {\n    position: relative;\n    width: 100%;\n    height: 100%;\n    text-align: left;\n    top: 10px;\n  }\n\n  .menu-items ul.menu li {\n    display: block;\n    list-style: none;\n    transition: 1s;\n    opacity: 0;\n    margin: 5px 0;\n  }\n\n  .menu-items ul.menu li a {\n    color: #ffffff;\n    font-size: 18px;\n    position: relative;\n  }\n\n  .menu-items ul.menu li a:after {\n    content: \"\";\n    width: 0;\n    height: 2px;\n    border-radius: 50px;\n    position: absolute;\n    bottom: 13px;\n    transition: 0.5s;\n    margin: 0 auto;\n    display: block;\n    right: 0;\n    left: 0;\n  }\n\n  .menu-items ul.menu li a:hover:after {\n    content: \"\";\n    background: #d2b48c;\n    width: 100%;\n  }\n\n  .menu-items.fs {\n    transform: translateY(0);\n    pointer-events: auto;\n    opacity: 1;\n  }\n\n  .menu-items.fs ul li {\n    opacity: 1;\n  }\n\n  address p {\n    color: #f9f9f9;\n  }\n\n\n\n  /*---------------------------------------\n      HOME          \n  -----------------------------------------*/\n\n  #home {\n    display: -webkit-box;\n    display: -webkit-flex;\n    display: -ms-flexbox;\n    display: flex;\n    -webkit-box-align: center;\n    -webkit-align-items: center;\n    -ms-flex-align: center;\n    align-items: center;\n    text-align: center;\n    position: relative;\n  }\n\n  #home .container {\n    width: 100%;\n  }\n\n  .home-info {\n    display: flex;\n    flex-direction: column;\n    justify-content: center;\n    align-items: center;\n    position: relative;\n    z-index: 2;\n    width: 100%;\n    height: 100vh;\n  }\n  \n  .countdown {\n    text-align: center;\n    margin: 50px 0;\n    padding: 0;\n  }\n\n  .countdown li {\n    color: #ffffff;\n    list-style: none;\n    display: inline-block;\n    margin: 0 20px;\n  }\n\n  .countdown span {\n    font-size: 25px;\n  }\n\n  .countdown h3 {\n    font-size: 14px;\n    text-transform: uppercase;\n    margin: 10px 0;\n  }\n\n\n\n  /*---------------------------------------\n     SOCIAL ICON              \n  -----------------------------------------*/\n\n  .social-icon {\n    position: relative;\n    padding: 0;\n    margin: 30px 0 0 0;\n    text-align: center;\n  }\n\n  .social-icon .line {\n    background: #ffffff;\n    width: 50px;\n    height: 2px;\n    margin-right: 10px;\n    position: relative;\n    bottom: 5px;\n  }\n\n  .social-icon li {\n    display: inline-block;\n    list-style: none;\n  }\n\n  .social-icon li a {\n    border-radius: 50px;\n    color: #ffffff;\n    font-size: 15px;\n    width: 35px;\n    height: 35px;\n    line-height: 35px;\n    text-decoration: none;\n    text-align: center;\n    position: relative;\n    margin: 5px 5px 5px 0;\n  }\n\n  .social-icon li a:hover {\n    background: #d2b48c;\n    color: #ffffff;\n  }\n\n\n\n  /*---------------------------------------\n     RESPONSIVE STYLES              \n  -----------------------------------------*/\n\n  @media screen and (max-width: 480px) {\n\n    .home-info {\n      padding: 0 1em 0 1em;\n    }\n\n    .countdown li {\n      margin: 0 12px;\n    }\n\n    address {\n      margin-top: 50px;\n    }\n  }\n\n  @media screen and (max-width: 360px) {\n\n    h1 {\n      font-size: 1.50em;\n    }\n\n    .menu-items {\n      margin: 100px 0;\n    }\n\n    .countdown span {\n      font-size: 20px;\n    }\n\n    .countdown h3 {\n      font-size: 12px;\n    }\n  }\n  .home{\n    color: rgba(0,128,128,1);\n  }\n\n     </style>\n\n<!-- \n\nGet Ready Template\n\nhttps://templatemo.com/tm-521-get-ready\n\n-->\n     <meta charset=\"UTF-8\">\n     <meta http-equiv=\"X-UA-Compatible\" content=\"IE=Edge\">\n     <meta name=\"description\" content=\"\">\n     <meta name=\"keywords\" content=\"\">\n     <meta name=\"team\" content=\"\">\n     <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=1\">\n\n     \n\n</head>\n<body>\n\n     <!-- PRE LOADER -->\n     <section class=\"preloader\">\n          <div class=\"spinner\">\n\n               <span class=\"spinner-rotate\"></span>\n               \n          </div>\n     </section>\n\n\n     <!-- GRID LINE -->\n    <!--<section class=\"grid\">-->\n    <!--     <div class=\"container\">-->\n    <!--        <div class=\"row\">-->\n\n    <!--          <div class=\"col-md-2 col-sm-2\">-->\n    <!--            <div class=\"grid-line\"></div>-->\n    <!--          </div>-->\n    <!--          <div class=\"col-md-2 col-sm-2\">-->\n    <!--            <div class=\"grid-line\"></div>-->\n    <!--          </div>-->\n    <!--          <div class=\"col-md-2 col-sm-2\">-->\n    <!--            <div class=\"grid-line\"></div>-->\n    <!--          </div>-->\n    <!--          <div class=\"col-md-2 col-sm-2\">-->\n    <!--            <div class=\"grid-line\"></div>-->\n    <!--          </div>-->\n    <!--          <div class=\"col-md-2 col-sm-2\">-->\n    <!--            <div class=\"grid-line\"></div>-->\n    <!--          </div>-->\n\n    <!--        </div>-->\n    <!--     </div>-->\n    <!--</section>-->\n\n\n    <!--<div class=\"menu-bg\"></div>\n    <div class=\"menu-burger\">☰</div>\n\n    <div class=\"menu-items\">\n       <div class=\"container\">\n         <div class=\"row\">\n           <div class=\"col-md-offset-2 col-md-4 col-sm-6\">\n            <h1>Navigations</h1>\n             <ul class=\"menu\">\n                <li><a href=\"#\">Home</a></li>\n                <li><a href=\"#\">Our Studio</a></li>\n                <li><a href=\"#\">Journal</a></li>\n                <li><a href=\"#\">Start a project</a></li>\n                <li><a href=\"#\">Email Us</a></li>\n            </ul>\n           </div>\n\n           <div class=\"col-md-4 col-sm-6\">\n             <address>\n               <h1>Our Studio</h1>\n               <p>1234 New Street View, <br> Kumasi, Ghana</p>\n               <div class=\"google-map\">\n                  <iframe src=\"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1197183.8373802372!2d-1.9415093691103689!3d6.781986417238027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdb96f349e85efd%3A0xb8d1e0b88af1f0f5!2sKumasi+Central+Market!5e0!3m2!1sen!2sth!4v1532967884907\" allowfullscreen></iframe>\n               </div>\n             </address>\n           </div> \n\n           <div class=\"col-md-12 col-sm-12\">\n             <ul class=\"social-icon\">\n              <li class=\"line\"></li>\n               <li><a href=\"https://fb.com/templatemo\" class=\"fa fa-facebook\"></a></li>\n               <li><a href=\"#\" class=\"fa fa-twitter\"></a></li>\n               <li><a href=\"https://plus.google.com/+templatemo\" class=\"fa fa-google\"></a></li>\n               <li><a href=\"#\" class=\"fa fa-instagram\"></a></li>\n             </ul>\n           </div>\n         </div>\n       </div>\n    </div>-->\n\n\n     <!-- HOME -->\n     <section id=\"home\">\n        <div class=\"overlay\"></div>\n          <div class=\"container\">\n               <div class=\"row\">\n\n                    <div class=\"col-md-12 col-sm-12\">\n                         <div class=\"home-info\">\n                              <h1 bgcolor='black'>Twitter Sentiment Analysis <br>IBM HACK CHALLENGE 2020</h1>\n                              <!-- You can change the date time in init.js file -->\n                            \t<h2 background='black'><br>This is your one stop solution for obtaining the Tweet Analysis in real time!\n<br>\nYou have access to the Sentiment analysis regarding COVID-19 and the government lockdown in the next tabs.\n<br>\nGet the real time analysis in a graphical way in the Live Analysis tab.\n<br>\nYou will be able to view Pie charts and Bar graphs giving you the best insights on the sentiment analysis.\n<br>\nThe live analysis will be shown as a Line graph.</h2>\n\n<h2 color='black'><p><br><br><br>\nTeam name - CodePlay\n<br>\nSanket Jangale\n<br>\nKunal Kotkar\n<br>\nManoj Ayyappan\n<br>\nShreyas Udupa\n<br>\nCollege : VESIT, Mumbai\n</p></h2>\n                              \n                         </div>\n                    </div>\n\n               </div>\n          </div>\n     </section>\n\n     <!-- SCRIPTS -->\n     <script src=\"js/jquery.js\"></script>\n     <script src=\"js/bootstrap.min.js\"></script>\n     <script src=\"js/vegas.min.js\"></script>\n     <script src=\"js/countdown.js\"></script>\n     <script src=\"js/init.js\"></script>\n     <script src=\"js/custom.js\"></script>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":140,"y":240,"wires":[[]]},{"id":"9ad19c1d.870188","type":"ui_gauge","z":"8d2201c0.972fa8","name":"","group":"83cd1aab.6b016","order":3,"width":8,"height":4,"gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-10","max":"10","colors":["#000000","#ffffff","#000000"],"seg1":"","seg2":"","x":1000,"y":300,"wires":[]},{"id":"fd34aafb.409f88","type":"comment","z":"8d2201c0.972fa8","name":"Twitter Node Comment","info":"Please Enable the Twitter Node.","x":280,"y":100,"wires":[]},{"id":"50e8d260.5c2964","type":"ui_text_input","z":"206313a6.edff74","name":"Enter  A Tweet","label":"","tooltip":"","group":"5161c71b.bc21b","order":1,"width":8,"height":6,"passthru":true,"mode":"text","delay":"0","topic":"","x":260,"y":80,"wires":[["7607cacf.a40a6c","733b8e1d.155088","c3c409fc.4f38e"]]},{"id":"d5c1e2b6.e3b22","type":"debug","z":"206313a6.edff74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":160,"wires":[]},{"id":"757aa520.cac9bc","type":"function","z":"206313a6.edff74","name":"","func":"msg.topic = 'Sentiment'\nif (msg.sentiment.score>0){\n    msg.payload = \"This is a Positive Tweet.\"\n}\nif (msg.sentiment.score<0){\n    msg.payload = \"This is a Negative Tweet.\"\n}\nif (msg.sentiment.score===0){\n    msg.payload = \"This is a Neutral Tweet.\"\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":180,"wires":[["d5c1e2b6.e3b22","50498908.5ca68"]]},{"id":"7b2a6b05.921a6c","type":"ui_gauge","z":"206313a6.edff74","name":"","group":"d2ab85d3.b3cb08","order":2,"width":6,"height":5,"gtype":"gage","title":"Sentiment Score","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#000000","#ffffff","#000000"],"seg1":"","seg2":"","x":880,"y":320,"wires":[]},{"id":"7607cacf.a40a6c","type":"watson-tone-analyzer-v3","z":"206313a6.edff74","name":"","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/1a7f5eb2-2a07-4b25-9b87-b05807692559","x":160,"y":440,"wires":[["8c5134be.5f52e"]]},{"id":"7b3184c5.e06f1c","type":"debug","z":"206313a6.edff74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":580,"wires":[]},{"id":"8c5134be.5f52e","type":"function","z":"206313a6.edff74","name":"","func":"var text=msg.response.document_tone.tones[0].tone_name;\nmsg.payload= 'The Dominant Emotion in the Text is '+ text;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":460,"wires":[["7b3184c5.e06f1c","3d4c36c5.e22aaa","d30eea8a.c8d498"]]},{"id":"733b8e1d.155088","type":"ui_button","z":"206313a6.edff74","name":"","group":"5161c71b.bc21b","order":2,"width":4,"height":1,"passthru":false,"label":"Enter ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":810,"y":60,"wires":[[]]},{"id":"87f14370.b5736","type":"ui_button","z":"206313a6.edff74","name":"","group":"5161c71b.bc21b","order":3,"width":4,"height":1,"passthru":false,"label":"Clear All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":100,"y":220,"wires":[["50e8d260.5c2964","52eb332.d91264c","1d188b00.5302d5"]]},{"id":"52eb332.d91264c","type":"function","z":"206313a6.edff74","name":"","func":"msg.payload= 0;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":280,"wires":[["7b2a6b05.921a6c"]]},{"id":"d30eea8a.c8d498","type":"watson-text-to-speech","z":"206313a6.edff74","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","voice":"en-US_EmilyV3Voice","voicehidden":"en-US_EmilyV3Voice","format":"audio/wav","password":"","apikey":"L7TR0HTjsBpJDanRrqvQ7yRVbU055h7XTp8BCusVEvek","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/575de75f-13c4-430f-837b-95f585032647","x":320,"y":540,"wires":[["e5eb6d29.813f1"]]},{"id":"677b1e4e.7b7f38","type":"function","z":"206313a6.edff74","name":"","func":"msg.topic = 'Sentiment'\nmsg.payload=msg.sentiment.score\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":360,"wires":[["7b2a6b05.921a6c"]]},{"id":"50498908.5ca68","type":"ui_text","z":"206313a6.edff74","group":"d2ab85d3.b3cb08","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":890,"y":260,"wires":[]},{"id":"c49290af.383f4","type":"twitter in","z":"8d2201c0.972fa8","twitter":"156618d6.ad974f","tags":"#covid","user":"false","name":"","inputs":1,"x":250,"y":60,"wires":[["783dc16c.9b71c8","7b76b358.a418bc"]]},{"id":"f6c4ae61.8503d","type":"sentiment","z":"8d2201c0.972fa8","name":"","property":"payload","x":520,"y":340,"wires":[["274b86ae.8449fa"]]},{"id":"c3c409fc.4f38e","type":"sentiment","z":"206313a6.edff74","name":"","property":"payload","x":400,"y":360,"wires":[["757aa520.cac9bc","677b1e4e.7b7f38"]]},{"id":"fdbaa1be.0dcdd8","type":"feedparse","z":"8d2201c0.972fa8","d":true,"name":"","url":"http://rss.cnn.com/rss/edition.rss","interval":"1","x":170,"y":380,"wires":[["783dc16c.9b71c8"]]},{"id":"3d4c36c5.e22aaa","type":"ui_text","z":"206313a6.edff74","group":"d2ab85d3.b3cb08","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":850,"y":500,"wires":[]},{"id":"1d188b00.5302d5","type":"function","z":"206313a6.edff74","name":"","func":"msg.payload = null\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["50498908.5ca68","3d4c36c5.e22aaa"]]},{"id":"83482ee9.d24bd","type":"function","z":"8d2201c0.972fa8","name":"","func":"msg.payload= 0;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":100,"wires":[["9ad19c1d.870188"]]},{"id":"e5eb6d29.813f1","type":"ui_audio","z":"206313a6.edff74","name":"","group":"d2ab85d3.b3cb08","voice":"en-US","always":false,"x":520,"y":560,"wires":[]}]