website_ui_flow.json
[{"id":"f98521dd.b7dcf8","type":"tab","label":"TwitterUI","disabled":false,"info":""},{"id":"a690c307.24a3d","type":"tab","label":"Live Tweets","disabled":false,"info":""},{"id":"57325d17.95157c","type":"tab","label":"User Analysis","disabled":false,"info":""},{"id":"824d7b57.79e558","type":"tab","label":"COVID Stats","disabled":false,"info":""},{"id":"d3c363cf.0de8","type":"ui_group","z":"","name":"Emotions Analysis","tab":"","order":3,"disp":true,"width":"8","collapse":false},{"id":"db39b24.678495","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#00dbdb","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#800080","baseFont":"Times New Roman,Times,serif","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#ffffff","baseFont":"Times New Roman,Times,serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#ffffff","edited":true},"page-titlebar-backgroundColor":{"value":"#8860d0","edited":true},"page-backgroundColor":{"value":"#61892f","edited":true},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ffffff","edited":true},"group-borderColor":{"value":"#c1c8e4","edited":true},"group-backgroundColor":{"value":"#5ab9ea","edited":true},"widget-textColor":{"value":"#ffffff","edited":true},"widget-backgroundColor":{"value":"#84ceeb","edited":true},"widget-borderColor":{"value":"#84ceeb","edited":true},"base-font":{"value":"Times New Roman,Times,serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"light-blue","palette":"dark"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":65,"sy":48,"gx":4,"gy":6,"cx":8,"cy":6,"px":10,"py":10}}},{"id":"18dc9e48.3604f2","type":"ui_group","z":"","name":"Message","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"17e2cbd1.64c174","type":"ui_group","z":"","name":"Registration","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"10dd927b.c844ce","type":"ui_group","z":"","name":"Registration","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"6a49154.8be98ec","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"b7db7875.0369a8","type":"ui_group","z":"","name":"Weather Monitoring","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"f6aef492.750d08","type":"ui_group","z":"","name":"UI","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"96e8f2bf.8b1af","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":false,"width":"27","collapse":false},{"id":"a7cded91.ca5a6","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"24118f29.715ca","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"a8ac1f68.12e02","type":"ibmiot","z":0,"name":"","keepalive":"60","serverName":"m5w070.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"ec3c3dad.a8dae","type":"ui_group","z":"","name":"Emotions Analysis","tab":"","order":3,"disp":true,"width":8,"collapse":false},{"id":"f71d6805.b25cc8","type":"ui_group","z":"","name":"Sentiment Analysis","tab":"","order":2,"disp":true,"width":6,"collapse":false},{"id":"65fdd35b.12aa1c","type":"ui_group","z":"","name":"Analysis of #COVID19 Tweets","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"3a277867.c02f4","type":"ui_spacer","name":"spacer","group":"6872ec8d.bd7784","order":2,"width":1,"height":1},{"id":"9454895c.791968","type":"ui_group","z":"","name":"Analysis of #lockdown Tweets","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"437559e7.2fe","type":"ui_group","z":"","name":"Sentiments Analysis","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"7b031794.b3b9e","type":"ui_group","z":"","name":"Live","tab":"","order":2,"disp":false,"width":17,"collapse":false},{"id":"cc426277.60f548","type":"ui_group","z":"","name":"Home","tab":"","order":4,"disp":false,"width":20,"collapse":false},{"id":"2b319d26.737cfa","type":"ui_group","z":"","name":"Enter a Text to Analyse","tab":"","order":1,"disp":true,"width":8,"collapse":false},{"id":"7875d88c.30f3d8","type":"ui_group","z":"","name":"Analysis","tab":"","order":2,"disp":true,"width":6,"collapse":false},{"id":"99284a8d.480e68","type":"ui_group","z":"","name":"weather","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"e1a1862.1da16f8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"ex0kwa.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"4000760a.85f548","type":"ui_group","z":"","name":"UI","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"38ebc19c.d8870e","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":false,"width":"27","collapse":false},{"id":"ccdca5b1.29a438","type":"ui_group","z":"","name":"Emotions Analysis","tab":"","order":3,"disp":true,"width":"8","collapse":false},{"id":"ede96ef0.eb857","type":"ui_group","z":"","name":"Message","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"f6d7dc06.b44738","type":"ui_group","z":"","name":"Registration","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"818ecbae.1d6718","type":"ui_group","z":"","name":"Registration","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"8ad43ffb.92b7b","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"cb54cd49.8298d","type":"ui_group","z":"","name":"Weather Monitoring","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"39fa9fc7.9850d8","type":"ui_group","z":"","name":"UI","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"c31c5a63.a6f92","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":false,"width":"27","collapse":false},{"id":"bd7316e.914e5e8","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"8c14fb01.091a78","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"4900b4a9.a0e7fc","type":"ibmiot","z":0,"name":"","keepalive":"60","serverName":"m5w070.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"3e18b67a.0530d2","type":"ui_group","z":"","name":"Emotions Analysis","tab":"","order":3,"disp":true,"width":"8","collapse":false},{"id":"493e60eb.a2ae5","type":"ui_group","z":"","name":"Sentiment Analysis","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"4ec9977a.11177","type":"ui_group","z":"","name":"Button","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"2d4a71b.f31630e","type":"ui_spacer","name":"spacer","group":"6872ec8d.bd7784","order":2,"width":1,"height":1},{"id":"b0c8feff.740798","type":"ui_group","z":"","name":"Button","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"c4102a2c.b2a158","type":"ui_group","z":"","name":"Sentiments Analysis","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"90bf58eb.f8fdc8","type":"ui_group","z":"","name":"Live","tab":"","order":1,"disp":false,"width":"17","collapse":false},{"id":"e40ae77b.14d5f","type":"ui_group","z":"","name":"Home","tab":"","order":4,"disp":false,"width":"20","collapse":false},{"id":"388b2f58.d75f68","type":"ui_group","z":"","name":"Emotions Analysis","tab":"","order":3,"disp":true,"width":"8","collapse":false},{"id":"320288b8.e6997","type":"ui_group","z":"","name":"Message","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"a88ed310.5abdd8","type":"ui_group","z":"","name":"Registration","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"17b5c31a.8a0bc5","type":"ui_group","z":"","name":"Registration","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"d70285ea.41656","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-lon02-01.services.eu-gb.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"2427f49b.e23ed4","type":"ui_group","z":"","name":"Weather Monitoring","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"7f811967.9f4968","type":"ui_group","z":"","name":"UI","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"1185fc0e.17b4cc","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":false,"width":"27","collapse":false},{"id":"bdf97ac9.6a8898","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"23f4afb0.23ff9","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"eac77671.d4eb18","type":"ibmiot","z":0,"name":"","keepalive":"60","serverName":"m5w070.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"b107091a.2187c8","type":"ui_group","z":"","name":"Emotions Analysis","tab":"","order":3,"disp":true,"width":8,"collapse":false},{"id":"8dd18520.9e795","type":"ui_group","z":"","name":"Sentiment Analysis","tab":"","order":2,"disp":true,"width":6,"collapse":false},{"id":"46523cb8.c5895c","type":"ui_group","z":"","name":"Analysis of #COVID19 Tweets","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"cf461c2b.3bbe08","type":"ui_spacer","name":"spacer","group":"6872ec8d.bd7784","order":2,"width":1,"height":1},{"id":"65758d6.c033ff4","type":"ui_group","z":"","name":"Analysis of #lockdown Tweets","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"1f06ee9b.6613d1","type":"ui_group","z":"","name":"Sentiments Analysis","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"83cd1aab.6b016","type":"ui_group","z":"","name":"Live","tab":"","order":2,"disp":false,"width":17,"collapse":false},{"id":"1485d101.a207a7","type":"ui_group","z":"","name":"Home","tab":"","order":4,"disp":false,"width":20,"collapse":false},{"id":"5161c71b.bc21b","type":"ui_group","z":"","name":"Enter a Text to Analyse","tab":"","order":1,"disp":true,"width":8,"collapse":false},{"id":"d2ab85d3.b3cb08","type":"ui_group","z":"","name":"Analysis","tab":"","order":2,"disp":true,"width":6,"collapse":false},{"id":"37ac8272.80f23e","type":"ui_tab","z":"","name":"Home","icon":"twitter","order":1,"disabled":false,"hidden":false},{"id":"43827683.3b8128","type":"ui_tab","z":"","name":"Covid Tweets Analysis","icon":"assessment","order":2,"disabled":false,"hidden":false},{"id":"c3856822.4b4668","type":"ui_tab","z":"","name":"Live Analysis","icon":"show_chart","order":4,"disabled":false,"hidden":false},{"id":"3e363fe5.3415f8","type":"ui_tab","z":"","name":"Lockdown Tweets Analysis","icon":"home","order":3,"disabled":false,"hidden":false},{"id":"6aeac06a.533f88","type":"ui_tab","z":"","name":"Check Your Own Sentiment & COVID India Tracker","icon":"people","order":5,"disabled":false,"hidden":false},{"id":"7dbf4b5.6b26434","type":"ui_group","z":"","name":"Home","tab":"37ac8272.80f23e","order":1,"disp":false,"width":"18","collapse":false},{"id":"e0384bc9.9593a","type":"ui_group","z":"","name":"Analysis of #COVID Tweets","tab":"43827683.3b8128","order":1,"disp":true,"width":"6","collapse":false},{"id":"88efc1c6.98ce1","type":"ui_group","z":"","name":"Sentiment Analysis","tab":"43827683.3b8128","order":2,"disp":true,"width":"6","collapse":false},{"id":"ccb06170.5b5ce","type":"ui_group","z":"","name":"Emotion Analysis","tab":"43827683.3b8128","order":3,"disp":true,"width":8,"collapse":false},{"id":"52b5ec1a.b3bf44","type":"ui_group","z":"","name":"Analysis of #lockdown Tweets","tab":"3e363fe5.3415f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"6d9adeef.2736c","type":"ui_group","z":"","name":"Sentiment Analysis","tab":"3e363fe5.3415f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"ea1a7d17.2e7ed8","type":"ui_group","z":"","name":"Emotion Analysis","tab":"3e363fe5.3415f8","order":3,"disp":true,"width":8,"collapse":false},{"id":"9d78edbe.9c7c18","type":"ui_group","z":"","name":"COVID Tracker","tab":"6aeac06a.533f88","order":2,"disp":false,"width":5,"collapse":false},{"id":"3ac00f27.beee28","type":"ui_group","z":"","name":"Live","tab":"c3856822.4b4668","order":1,"disp":false,"width":"17","collapse":false},{"id":"59f2136b.2835cc","type":"ui_group","z":"","name":"User Analysis","tab":"6aeac06a.533f88","order":1,"disp":false,"width":14,"collapse":false},{"id":"7cfcc003.7b44e8","type":"twitter-credentials","z":0,"screen_name":"shreyas_udupa"},{"id":"bb5bf102.e62a88","type":"twitter-credentials","z":0,"screen_name":"shreyas_udupa"},{"id":"156618d6.ad974f","type":"twitter-credentials","z":0,"d":true,"screen_name":"shreyas_udupa"},{"id":"ec99366e.7be6e8","type":"ui_chart","z":"f98521dd.b7dcf8","name":"","group":"ccb06170.5b5ce","order":1,"width":"8","height":"11","label":"Bar Graph of Emotions","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#f8ff99","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":850,"y":200,"wires":[[]]},{"id":"6ee85977.0dac6","type":"function","z":"f98521dd.b7dcf8","name":"","func":"var m = {};\n\nm.labels=['Positive','Negative','Neutral'];\nm.data=[[39.4,32.6,28.0]];\nm.series=[\"Emotions\"];\nreturn {payload:[m],topic:msg.topic};\n\n","outputs":1,"noerr":0,"x":540,"y":100,"wires":[["8dc6ad44.281a9"]]},{"id":"4c4cc20a.b87c1c","type":"function","z":"f98521dd.b7dcf8","name":"","func":"var m = {};\n\nm.labels=['Happy','Anxious','Angry','Free','Fearful','Powerless','Sad','Alone','Average','Adequate','Surprise'];\nm.data=[[114,3,13,69,53,43,78,14,88,24,9]];\nm.series=[\"Tweets Count\"];\nreturn {payload:[m],topic:msg.topic};\n","outputs":1,"noerr":0,"x":540,"y":200,"wires":[["ec99366e.7be6e8"]]},{"id":"977063db.eca4a8","type":"function","z":"f98521dd.b7dcf8","name":"","func":"var m = {};\n\nm.labels=['Positive','Negative','Neutral'];\nm.data=[[49.8,33.5,16.7]];\nm.series=[\"Emotions\"];\nreturn {payload:[m],topic:msg.topic};\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":500,"wires":[["6eaeea49.944774"]]},{"id":"5317999f.3580c8","type":"function","z":"f98521dd.b7dcf8","name":"","func":"var m = {};\n\nm.labels=['Happy','Anxious','Angry','Free','Fearful','Powerless','Sad','Alone','Average','Adequate','Surprise'];\nm.data=[[97,5,28,75,29,47,119,9,48,38,18]];\nm.series=[\"Tweets Count\"];\nreturn {payload:[m],topic:msg.topic};\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":620,"wires":[["680c8d99.bbeaac"]]},{"id":"6eaeea49.944774","type":"ui_chart","z":"f98521dd.b7dcf8","name":"","group":"6d9adeef.2736c","order":1,"width":6,"height":11,"label":"Pie Chart of Polarity","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ffffff","#ffc2c2","#a9ff9e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":880,"y":500,"wires":[[]]},{"id":"680c8d99.bbeaac","type":"ui_chart","z":"f98521dd.b7dcf8","name":"","group":"ea1a7d17.2e7ed8","order":1,"width":"8","height":"11","label":"Bar Graph of Emotions","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#fdff94","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":880,"y":620,"wires":[[]]},{"id":"8dc6ad44.281a9","type":"ui_chart","z":"f98521dd.b7dcf8","name":"","group":"88efc1c6.98ce1","order":1,"width":6,"height":11,"label":"Pie Chart of Polarity","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"0","useOneColor":false,"useUTC":false,"colors":["#ffffff","#ffb3b3","#8aff92","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":100,"wires":[[]]},{"id":"e66b4a7f.4f3ab8","type":"ui_button","z":"f98521dd.b7dcf8","name":"","group":"e0384bc9.9593a","order":1,"width":"6","height":"1","passthru":false,"label":"Show Graphs","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":370,"y":40,"wires":[["6ee85977.0dac6","4c4cc20a.b87c1c","ce66000e.2c365"]]},{"id":"f4f972ef.f1afc8","type":"ui_button","z":"f98521dd.b7dcf8","name":"","group":"e0384bc9.9593a","order":2,"width":"6","height":"1","passthru":false,"label":"Clear All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":300,"y":100,"wires":[["8dc6ad44.281a9","ec99366e.7be6e8","965d6b76.feba78"]]},{"id":"c21f9ed1.ef02b","type":"ui_button","z":"f98521dd.b7dcf8","name":"","group":"52b5ec1a.b3bf44","order":1,"width":"6","height":"1","passthru":false,"label":"Show Graphs","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":320,"y":500,"wires":[["977063db.eca4a8","5317999f.3580c8","2f404c4c.445c0c"]]},{"id":"428cfca8.f0cd94","type":"ui_button","z":"f98521dd.b7dcf8","name":"","group":"52b5ec1a.b3bf44","order":2,"width":"6","height":"1","passthru":false,"label":"Clear All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":360,"y":560,"wires":[["680c8d99.bbeaac","6eaeea49.944774","9938e6b3.cdd588"]]},{"id":"ea28a5b3.55fce8","type":"delay","z":"a690c307.24a3d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":300,"wires":[["be406287.627908","ee0eda0c.844ef8"]]},{"id":"2cddbedb.7cb91a","type":"function","z":"a690c307.24a3d","name":"","func":"msg.topic = 'Sentiment'\nmsg.payload=msg.sentiment.score\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":340,"wires":[["c7fc1eb8.aa7538","62a9f4a5.47c4d4"]]},{"id":"c7fc1eb8.aa7538","type":"ui_chart","z":"a690c307.24a3d","name":"","group":"3ac00f27.beee28","order":1,"width":"17","height":"7","label":"Live Tweet Analysis","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ffffff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":200,"wires":[[]]},{"id":"7f157464.d21364","type":"ui_button","z":"a690c307.24a3d","name":"","group":"3ac00f27.beee28","order":9,"width":"8","height":"1","passthru":false,"label":"Clear All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":640,"y":80,"wires":[["c7fc1eb8.aa7538","4da86a6.0a1d294","38f3021e.d75cae"]]},{"id":"5a855b37.de73b4","type":"ui_button","z":"a690c307.24a3d","name":"","group":"3ac00f27.beee28","order":8,"width":"9","height":"1","passthru":false,"label":"Show Tweets and Analysis","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":640,"y":180,"wires":[["2cddbedb.7cb91a"]]},{"id":"ee0eda0c.844ef8","type":"ui_text","z":"a690c307.24a3d","group":"3ac00f27.beee28","order":2,"width":"9","height":"4","name":"Show Tweets","label":"","format":"{{msg.payload}}","layout":"row-left","x":550,"y":280,"wires":[]},{"id":"f708c36c.b4eb58","type":"cloudant out","z":"a690c307.24a3d","d":true,"name":"","cloudant":"","database":"tweets","service":"node-red-aiymi-cloudant-1591679196311-427","payonly":true,"operation":"insert","x":450,"y":60,"wires":[]},{"id":"48febcc.5385ac4","type":"ui_template","z":"a690c307.24a3d","group":"7dbf4b5.6b26434","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n\n     <title>Get Ready - Coming Soon Template</title>\n     <style>\n         /*\n\nGet Ready Template\n\nhttps://templatemo.com/tm-521-get-ready\n\n*/\n  \n  @import url('https://fonts.googleapis.com/css?family=Poppins:300,400');\n\n  body {\n    margin: 0;\n    -webkit-perspective: 1000;\n    font-family: 'Poppins', sans-serif;\n    background: #303030;\n  }\n\n  body, html {\n    height: 100%;\n    width: 100%;\n    overflow-x: hidden;\n  }\n\n\n\n  /*---------------------------------------\n     TYPOGRAPHY              \n  -----------------------------------------*/\n\n  h1,h2,h3,h4,h5,h6 {\n    font-weight: 300;\n    line-height: inherit;\n  }\n\n  h1 {\n    color: rgba(220,223,227,1);\n    font-size: 2em;\n  }\n\n  h2 {\n    color: rgba(0,128,128,1);\n    font-size: 21px;\n  }\n\n  p {\n    color: #ffffff;\n    font-size: 14px;\n    font-weight: normal;\n    line-height: 24px;\n  }\n\n\n\n  /*---------------------------------------\n     GENERAL               \n  -----------------------------------------*/\n\n  html{\n    -webkit-font-smoothing: antialiased;\n  }\n\n  a {\n    color: #202020;\n    text-decoration: none !important;\n  }\n\n  a,\n  input, button,\n  .form-control {\n    -webkit-transition: 0.5s;\n    transition: 0.5s;\n  }\n\n  a:hover, a:active, a:focus {\n    color: #29ca8e;\n    outline: none;\n  }\n\n  /*::-webkit-scrollbar{*/\n  /*  width: 8px;*/\n  /*  height: 8px;*/\n  /*}*/\n\n  /*::-webkit-scrollbar-thumb {*/\n  /*  cursor: pointer;*/\n  /*  background: #202020;*/\n  /*}*/\n\n  .overlay {\n    background: linear-gradient(to top right, #000000, #000000);\n    opacity: 0.9;\n    position: absolute;\n    top: 0;\n    right: 0;\n    bottom: 0;\n    left: 0;\n    width: 100%;\n    height: 100%;\n  }\n\n  /*.grid {*/\n  /*  position: fixed;*/\n  /*  width: 100%;*/\n  /*  height: 100%;*/\n  /*  z-index: 1;*/\n  /*}*/\n\n  /*.grid-line {*/\n  /*  height: 300vh;*/\n  /*  border-right: 1px solid rgba(255,255,255,0.02);*/\n  /*}*/\n\n  .google-map iframe {\n    border: 0;\n    margin-top: 20px;\n  }\n\n  .subscribe-form {\n    position: relative;\n  }\n\n  .subscribe-form .form-control {\n    background: #ffffff;\n    box-shadow: none;\n    border: 0;\n    border-radius: 50px;\n\twidth: 340px;\n    height: 45px;\n    padding: 6px 30px;\n  }\n\n  .subscribe-form button[type=\"submit\"] {\n    background: transparent;\n    border: 0;\n    outline: none;\n  }\n\n  .subscribe-form .fa {\n    cursor: pointer;\n    position: absolute;\n    top: 12px;\n    right: 12px;\n    color: #d2b48c;\n    font-size: 20px;\n  }\n\n\n\n  /*---------------------------------------\n       PRE LOADER              \n  -----------------------------------------*/\n\n \n  /*---------------------------------------\n      MENU              \n  -----------------------------------------*/\n\n  .menu, .menu-bg, .menu-burger {\n    position: fixed;\n    z-index: 222;\n    width: 50px;\n    height: 50px;\n    line-height: 30px;\n    font-size: 25px;\n    text-align: center;\n    border-radius: 100%;\n    right: 25px;\n    top: 25px;\n  }\n\n  .menu-bg {\n    background: #101010;\n    pointer-events: none;\n    transition: .3s;\n    right: 50px;\n    top: 50px;\n    transform: translate3d(50%, -50%, 0);\n    transform-origin: center center;\n  }\n\n  .menu-bg.fs {\n    transform: translate3d(50%, -50%, 0);\n    width: 500vw;\n    height: 500vw;\n  }\n\n  .menu-burger {\n    color: #ffffff;\n    padding-top: 11px;\n    -webkit-user-select: none;\n    cursor: pointer;\n    transition: .4s;\n    transform-origin: center;\n    z-index: 9999;\n  }\n\n  .menu-burger.fs {\n    transform: rotate(-180deg) translateY(5px);\n  }\n\n  .menu-items {\n    display: flex;\n    flex-direction: column;\n    justify-content: center;\n    align-content: center;\n    position: absolute;\n    z-index: 9999;\n    width: 100%;\n    height: 100%;\n    opacity: 0;\n    transition: .4s;\n    margin-top: 50px;\n    transform: translateY(-200%);\n    pointer-events: none;\n  }\n\n  .menu-items ul.menu {\n    position: relative;\n    width: 100%;\n    height: 100%;\n    text-align: left;\n    top: 10px;\n  }\n\n  .menu-items ul.menu li {\n    display: block;\n    list-style: none;\n    transition: 1s;\n    opacity: 0;\n    margin: 5px 0;\n  }\n\n  .menu-items ul.menu li a {\n    color: #ffffff;\n    font-size: 18px;\n    position: relative;\n  }\n\n  .menu-items ul.menu li a:after {\n    content: \"\";\n    width: 0;\n    height: 2px;\n    border-radius: 50px;\n    position: absolute;\n    bottom: 13px;\n    transition: 0.5s;\n    margin: 0 auto;\n    display: block;\n    right: 0;\n    left: 0;\n  }\n\n  .menu-items ul.menu li a:hover:after {\n    content: \"\";\n    background: #d2b48c;\n    width: 100%;\n  }\n\n  .menu-items.fs {\n    transform: translateY(0);\n    pointer-events: auto;\n    opacity: 1;\n  }\n\n  .menu-items.fs ul li {\n    opacity: 1;\n  }\n\n  address p {\n    color: #f9f9f9;\n  }\n\n\n\n  /*---------------------------------------\n      HOME          \n  -----------------------------------------*/\n\n  #home {\n    display: -webkit-box;\n    display: -webkit-flex;\n    display: -ms-flexbox;\n    display: flex;\n    -webkit-box-align: center;\n    -webkit-align-items: center;\n    -ms-flex-align: center;\n    align-items: center;\n    text-align: center;\n    position: relative;\n  }\n\n  #home .container {\n    width: 100%;\n  }\n\n  .home-info {\n    display: flex;\n    flex-direction: column;\n    justify-content: center;\n    align-items: center;\n    position: relative;\n    z-index: 2;\n    width: 100%;\n    height: 100vh;\n  }\n  \n  .countdown {\n    text-align: center;\n    margin: 50px 0;\n    padding: 0;\n  }\n\n  .countdown li {\n    color: #ffffff;\n    list-style: none;\n    display: inline-block;\n    margin: 0 20px;\n  }\n\n  .countdown span {\n    font-size: 25px;\n  }\n\n  .countdown h3 {\n    font-size: 14px;\n    text-transform: uppercase;\n    margin: 10px 0;\n  }\n\n\n\n  /*---------------------------------------\n     SOCIAL ICON              \n  -----------------------------------------*/\n\n  .social-icon {\n    position: relative;\n    padding: 0;\n    margin: 30px 0 0 0;\n    text-align: center;\n  }\n\n  .social-icon .line {\n    background: #ffffff;\n    width: 50px;\n    height: 2px;\n    margin-right: 10px;\n    position: relative;\n    bottom: 5px;\n  }\n\n  .social-icon li {\n    display: inline-block;\n    list-style: none;\n  }\n\n  .social-icon li a {\n    border-radius: 50px;\n    color: #ffffff;\n    font-size: 15px;\n    width: 35px;\n    height: 35px;\n    line-height: 35px;\n    text-decoration: none;\n    text-align: center;\n    position: relative;\n    margin: 5px 5px 5px 0;\n  }\n\n  .social-icon li a:hover {\n    background: #d2b48c;\n    color: #ffffff;\n  }\n\n\n\n  /*---------------------------------------\n     RESPONSIVE STYLES              \n  -----------------------------------------*/\n\n  @media screen and (max-width: 480px) {\n\n    .home-info {\n      padding: 0 1em 0 1em;\n    }\n\n    .countdown li {\n      margin: 0 12px;\n    }\n\n    address {\n      margin-top: 50px;\n    }\n  }\n\n  @media screen and (max-width: 360px) {\n\n    h1 {\n      font-size: 1.50em;\n    }\n\n    .menu-items {\n      margin: 100px 0;\n    }\n\n    .countdown span {\n      font-size: 20px;\n    }\n\n    .countdown h3 {\n      font-size: 12px;\n    }\n  }\n  .home{\n    color: rgba(0,128,128,1);\n  }\n\n     </style>\n\n<!-- \n\nGet Ready Template\n\nhttps://templatemo.com/tm-521-get-ready\n\n-->\n     <meta charset=\"UTF-8\">\n     <meta http-equiv=\"X-UA-Compatible\" content=\"IE=Edge\">\n     <meta name=\"description\" content=\"\">\n     <meta name=\"keywords\" content=\"\">\n     <meta name=\"team\" content=\"\">\n     <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=1\">\n\n     \n\n</head>\n<body>\n\n     <!-- PRE LOADER -->\n     <section class=\"preloader\">\n          <div class=\"spinner\">\n\n               <span class=\"spinner-rotate\"></span>\n               \n          </div>\n     </section>\n\n\n     <!-- GRID LINE -->\n    <!--<section class=\"grid\">-->\n    <!--     <div class=\"container\">-->\n    <!--        <div class=\"row\">-->\n\n    <!--          <div class=\"col-md-2 col-sm-2\">-->\n    <!--            <div class=\"grid-line\"></div>-->\n    <!--          </div>-->\n    <!--          <div class=\"col-md-2 col-sm-2\">-->\n    <!--            <div class=\"grid-line\"></div>-->\n    <!--          </div>-->\n    <!--          <div class=\"col-md-2 col-sm-2\">-->\n    <!--            <div class=\"grid-line\"></div>-->\n    <!--          </div>-->\n    <!--          <div class=\"col-md-2 col-sm-2\">-->\n    <!--            <div class=\"grid-line\"></div>-->\n    <!--          </div>-->\n    <!--          <div class=\"col-md-2 col-sm-2\">-->\n    <!--            <div class=\"grid-line\"></div>-->\n    <!--          </div>-->\n\n    <!--        </div>-->\n    <!--     </div>-->\n    <!--</section>-->\n\n\n    <!--<div class=\"menu-bg\"></div>\n    <div class=\"menu-burger\">☰</div>\n\n    <div class=\"menu-items\">\n       <div class=\"container\">\n         <div class=\"row\">\n           <div class=\"col-md-offset-2 col-md-4 col-sm-6\">\n            <h1>Navigations</h1>\n             <ul class=\"menu\">\n                <li><a href=\"#\">Home</a></li>\n                <li><a href=\"#\">Our Studio</a></li>\n                <li><a href=\"#\">Journal</a></li>\n                <li><a href=\"#\">Start a project</a></li>\n                <li><a href=\"#\">Email Us</a></li>\n            </ul>\n           </div>\n\n           <div class=\"col-md-4 col-sm-6\">\n             <address>\n               <h1>Our Studio</h1>\n               <p>1234 New Street View, <br> Kumasi, Ghana</p>\n               <div class=\"google-map\">\n                  <iframe src=\"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1197183.8373802372!2d-1.9415093691103689!3d6.781986417238027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdb96f349e85efd%3A0xb8d1e0b88af1f0f5!2sKumasi+Central+Market!5e0!3m2!1sen!2sth!4v1532967884907\" allowfullscreen></iframe>\n               </div>\n             </address>\n           </div> \n\n           <div class=\"col-md-12 col-sm-12\">\n             <ul class=\"social-icon\">\n              <li class=\"line\"></li>\n               <li><a href=\"https://fb.com/templatemo\" class=\"fa fa-facebook\"></a></li>\n               <li><a href=\"#\" class=\"fa fa-twitter\"></a></li>\n               <li><a href=\"https://plus.google.com/+templatemo\" class=\"fa fa-google\"></a></li>\n               <li><a href=\"#\" class=\"fa fa-instagram\"></a></li>\n             </ul>\n           </div>\n         </div>\n       </div>\n    </div>-->\n\n\n     <!-- HOME -->\n     <section id=\"home\">\n        <div class=\"overlay\"></div>\n          <div class=\"container\">\n               <div class=\"row\">\n\n                    <div class=\"col-md-12 col-sm-12\">\n                         <div class=\"home-info\">\n                              <h1 bgcolor='black'>Twitter Sentiment Analysis <br>IBM HACK CHALLENGE 2020</h1>\n                              <!-- You can change the date time in init.js file -->\n                            \t<h2 background='black'><br>This is your one stop solution for obtaining the Tweet Analysis in real time!\n<br>\nYou have access to the Sentiment analysis regarding COVID-19 and the government lockdown in the next tabs.\n<br>\nGet the real time analysis in a graphical way in the Live Analysis tab.\n<br>\nYou will be able to view Pie charts and Bar graphs giving you the best insights on the sentiment analysis.\n<br>\nThe live analysis will be shown as a Line graph.</h2>\n\n<h2 color='black'><p><br><br><br>\nTeam name - CodePlay\n<br>\nSanket Jangale\n<br>\nKunal Kotkar\n<br>\nManoj Ayyappan\n<br>\nShreyas Udupa\n<br>\nCollege : VESIT, Mumbai\n</p></h2>\n                              \n                         </div>\n                    </div>\n\n               </div>\n          </div>\n     </section>\n\n     <!-- SCRIPTS -->\n     <script src=\"js/jquery.js\"></script>\n     <script src=\"js/bootstrap.min.js\"></script>\n     <script src=\"js/vegas.min.js\"></script>\n     <script src=\"js/countdown.js\"></script>\n     <script src=\"js/init.js\"></script>\n     <script src=\"js/custom.js\"></script>\n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":140,"y":240,"wires":[[]]},{"id":"62a9f4a5.47c4d4","type":"ui_gauge","z":"a690c307.24a3d","name":"","group":"3ac00f27.beee28","order":4,"width":"8","height":4,"gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-10","max":"10","colors":["#000000","#ffffff","#000000"],"seg1":"","seg2":"","x":1000,"y":300,"wires":[]},{"id":"bb193990.87b5c8","type":"comment","z":"a690c307.24a3d","name":"Twitter Node Comment","info":"Please Enable the Twitter Node and timestamp.","x":280,"y":100,"wires":[]},{"id":"4da86a6.0a1d294","type":"function","z":"a690c307.24a3d","name":"","func":"msg.payload= 0;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":100,"wires":[["62a9f4a5.47c4d4"]]},{"id":"38f3021e.d75cae","type":"function","z":"a690c307.24a3d","name":"","func":"msg.payload = null\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":140,"wires":[["ee0eda0c.844ef8"]]},{"id":"1e379e62.3aa05a","type":"ui_text_input","z":"57325d17.95157c","name":"Enter A Tweet","label":"Enter Your Tweet","tooltip":"","group":"59f2136b.2835cc","order":2,"width":8,"height":7,"passthru":true,"mode":"text","delay":"0","topic":"","x":260,"y":80,"wires":[["b121b5d4.9044b","3d5bf3a8.59569c"]]},{"id":"d420602f.336fc8","type":"debug","z":"57325d17.95157c","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":160,"wires":[]},{"id":"64fc2859.b6536","type":"function","z":"57325d17.95157c","name":"","func":"var ye = global.get(\"x1\")\nmsg.topic = 'Sentiment'\nif (msg.sentiment.score + ye>0){\n    msg.payload = \"This is a Positive Tweet.\"\n}\nif (msg.sentiment.score + ye<0){\n    msg.payload = \"This is a Negative Tweet.\"\n}\nif (msg.sentiment.score + ye===0){\n    msg.payload = \"This is a Neutral Tweet.\"\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":180,"wires":[["d420602f.336fc8","e0fe2c8e.718208","1f56c802.afaf98"]]},{"id":"85d42457.7af698","type":"ui_gauge","z":"57325d17.95157c","name":"","group":"59f2136b.2835cc","order":3,"width":6,"height":7,"gtype":"gage","title":"Sentiment Score","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#000000","#ffffff","#000000"],"seg1":"","seg2":"","x":880,"y":320,"wires":[]},{"id":"ee60578f.7c0dc8","type":"watson-tone-analyzer-v3","z":"57325d17.95157c","d":true,"name":"","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/1a7f5eb2-2a07-4b25-9b87-b05807692559","x":160,"y":600,"wires":[["b45b768d.5937e"]]},{"id":"5c7936ce.78fb78","type":"debug","z":"57325d17.95157c","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":700,"wires":[]},{"id":"b45b768d.5937e","type":"function","z":"57325d17.95157c","d":true,"name":"","func":"var text=msg.response.document_tone.tones[0].tone_name;\nmsg.payload= 'The Dominant Emotion in the Text is '+ text;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":680,"wires":[["5c7936ce.78fb78","80b4ce7a.f02f88","1f56c802.afaf98"]]},{"id":"b121b5d4.9044b","type":"ui_button","z":"57325d17.95157c","name":"","group":"59f2136b.2835cc","order":4,"width":4,"height":1,"passthru":false,"label":"Enter ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":810,"y":60,"wires":[[]]},{"id":"3bc342f1.b73976","type":"ui_button","z":"57325d17.95157c","name":"","group":"59f2136b.2835cc","order":5,"width":4,"height":1,"passthru":false,"label":"Clear All","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":100,"y":220,"wires":[["1e379e62.3aa05a","30e12261.bd1186","ed2b7c03.c94e38"]]},{"id":"30e12261.bd1186","type":"function","z":"57325d17.95157c","name":"","func":"msg.payload= 0;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":220,"wires":[["85d42457.7af698"]]},{"id":"1f56c802.afaf98","type":"watson-text-to-speech","z":"57325d17.95157c","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","voice":"en-US_EmilyV3Voice","voicehidden":"en-US_EmilyV3Voice","format":"audio/wav","password":"","apikey":"L7TR0HTjsBpJDanRrqvQ7yRVbU055h7XTp8BCusVEvek","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/575de75f-13c4-430f-837b-95f585032647","x":740,"y":620,"wires":[["29ef886e.af4ad"]]},{"id":"1280991.4bc7a67","type":"function","z":"57325d17.95157c","name":"","func":"\nvar ye = global.get(\"x1\")\nmsg.topic = 'Sentiment'\nmsg.payload=msg.sentiment.score + ye\nreturn msg;\n","outputs":1,"noerr":0,"x":710,"y":540,"wires":[["85d42457.7af698"]]},{"id":"e0fe2c8e.718208","type":"ui_text","z":"57325d17.95157c","group":"59f2136b.2835cc","order":6,"width":6,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":890,"y":260,"wires":[]},{"id":"80b4ce7a.f02f88","type":"ui_text","z":"57325d17.95157c","d":true,"group":"d2ab85d3.b3cb08","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":910,"y":440,"wires":[]},{"id":"ed2b7c03.c94e38","type":"function","z":"57325d17.95157c","name":"","func":"msg.payload = null\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["e0fe2c8e.718208","80b4ce7a.f02f88"]]},{"id":"29ef886e.af4ad","type":"ui_audio","z":"57325d17.95157c","name":"","group":"59f2136b.2835cc","voice":"en-US","always":false,"x":880,"y":680,"wires":[]},{"id":"3d5bf3a8.59569c","type":"switch","z":"57325d17.95157c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"corona","vt":"str"},{"t":"cont","v":"covid","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":130,"y":320,"wires":[["13915a1f.101d9e"],["13915a1f.101d9e"],["988371f7.044ae","8bb5117.e50537"]]},{"id":"5dd0ed43.521acc","type":"function","z":"57325d17.95157c","name":"","func":"global.set(\"x1\",-5 )\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":340,"wires":[["988371f7.044ae"]]},{"id":"59293e1.854f8c","type":"function","z":"57325d17.95157c","name":"","func":"global.set(\"x1\",5 )\nreturn msg;\n","outputs":1,"noerr":0,"x":650,"y":440,"wires":[["988371f7.044ae"]]},{"id":"8bb5117.e50537","type":"function","z":"57325d17.95157c","name":"","func":"global.set(\"x1\",0)\nreturn msg;","outputs":1,"noerr":0,"x":100,"y":460,"wires":[["ee60578f.7c0dc8"]]},{"id":"13915a1f.101d9e","type":"switch","z":"57325d17.95157c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"positive","vt":"str"},{"t":"cont","v":"negative","vt":"str"},{"t":"else"},{"t":"cont","v":"increasing","vt":"str"},{"t":"cont","v":"decreasing","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":270,"y":320,"wires":[["576ac481.11206c"],["733dff5f.fb7a98"],["988371f7.044ae"],["576ac481.11206c"],["576ac481.11206c"]]},{"id":"576ac481.11206c","type":"switch","z":"57325d17.95157c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"increasing ","vt":"str"},{"t":"cont","v":"rise","vt":"str"},{"t":"else"},{"t":"cont","v":"decreasing","vt":"str"},{"t":"cont","v":"decline","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":430,"y":300,"wires":[["5dd0ed43.521acc"],["5dd0ed43.521acc"],["5dd0ed43.521acc"],["59293e1.854f8c"],["59293e1.854f8c"]]},{"id":"733dff5f.fb7a98","type":"switch","z":"57325d17.95157c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"decreasing","vt":"str"},{"t":"cont","v":"decline","vt":"str"},{"t":"cont","v":"increasing ","vt":"str"},{"t":"cont","v":"rise","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":430,"y":400,"wires":[["5dd0ed43.521acc"],["5dd0ed43.521acc"],["59293e1.854f8c"],["59293e1.854f8c"],["59293e1.854f8c"]]},{"id":"5a643d55.6bdef4","type":"ui_text","z":"57325d17.95157c","group":"59f2136b.2835cc","order":1,"width":0,"height":0,"name":"","label":"","format":"Check Your Own Sentiment!","layout":"col-center","x":180,"y":40,"wires":[]},{"id":"ce66000e.2c365","type":"function","z":"f98521dd.b7dcf8","name":"","func":"msg.payload = 'These graphs represent the data analysis about tweets posted between 05-05-2020 and 01-07-2020.'\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":160,"wires":[["ef0d4d0e.4c207"]]},{"id":"ef0d4d0e.4c207","type":"ui_text","z":"f98521dd.b7dcf8","group":"e0384bc9.9593a","order":2,"width":"6","height":"2","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":180,"y":240,"wires":[]},{"id":"2f404c4c.445c0c","type":"function","z":"f98521dd.b7dcf8","name":"","func":"msg.payload = 'These graphs represent the data analysis about tweets posted between 05-05-2020 and 01-07-2020.'\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":560,"wires":[["e466df4e.47aa8"]]},{"id":"e466df4e.47aa8","type":"ui_text","z":"f98521dd.b7dcf8","group":"52b5ec1a.b3bf44","order":2,"width":"6","height":"2","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":210,"y":640,"wires":[]},{"id":"9938e6b3.cdd588","type":"function","z":"f98521dd.b7dcf8","name":"","func":"msg.payload = ''\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":640,"wires":[["e466df4e.47aa8"]]},{"id":"965d6b76.feba78","type":"function","z":"f98521dd.b7dcf8","name":"","func":"msg.payload = ''\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":140,"wires":[["ef0d4d0e.4c207"]]},{"id":"d741eac7.c33e2","type":"http request","z":"824d7b57.79e558","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.covid19api.com/total/country/india","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":340,"wires":[["518c5de8.fae6a4","66a24031.274778"]]},{"id":"518c5de8.fae6a4","type":"function","z":"824d7b57.79e558","name":"","func":"var c = global.get(\"count2\")\nmsg.payload=\n{'id' : msg.payload[c].Recovered,\n 'id1':  msg.payload[c].Active,\n 'id2':  msg.payload[c].Confirmed,\n 'id3':  msg.payload[c].Deaths\n}\nglobal.set('c1',c+1)\nglobal.set(\"y1\",msg.payload.id);\nglobal.set(\"y2\",msg.payload.id1);\nglobal.set(\"y3\",msg.payload.id3);\n\nmsg.color = \"teal\"\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":340,"wires":[["66a24031.274778","ced9827f.a9b13","1e1a0a7f.a0f43e","4f5ee541.8dc354"]]},{"id":"ced9827f.a9b13","type":"ui_text","z":"824d7b57.79e558","group":"9d78edbe.9c7c18","order":3,"width":0,"height":0,"name":"","label":"Active Cases : ","format":"{{msg.payload.id1}}","layout":"row-center","x":800,"y":360,"wires":[]},{"id":"66a24031.274778","type":"debug","z":"824d7b57.79e558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":140,"wires":[]},{"id":"1e1a0a7f.a0f43e","type":"ui_text","z":"824d7b57.79e558","group":"9d78edbe.9c7c18","order":4,"width":0,"height":0,"name":"","label":"Recovered : ","format":"{{msg.payload.id}}","layout":"row-center","x":810,"y":300,"wires":[]},{"id":"4f5ee541.8dc354","type":"ui_text","z":"824d7b57.79e558","group":"9d78edbe.9c7c18","order":2,"width":0,"height":0,"name":"","label":"Total Cases : ","format":"{{msg.payload.id2}}","layout":"row-center","x":770,"y":440,"wires":[]},{"id":"3dcbbcb2.531834","type":"ui_text","z":"824d7b57.79e558","group":"9d78edbe.9c7c18","order":1,"width":0,"height":0,"name":"","label":"","format":"COVID India Tracker","layout":"col-center","x":300,"y":400,"wires":[]},{"id":"f81ff0ec.7cd3c","type":"ui_chart","z":"824d7b57.79e558","name":"","group":"9d78edbe.9c7c18","order":5,"width":"5","height":"4","label":"","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0080ff","#000000","#00ffff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":760,"y":540,"wires":[[]]},{"id":"614a724b.ec803c","type":"function","z":"824d7b57.79e558","name":"","func":"var m = {};\n\nm.labels=['Active','Deaths',\"Recovered\"];\nm.data=[[global.get('y2'),global.get('y3'),global.get('y1')]];\nm.series=[\"Cases\"];\nreturn {payload:[m],topic:msg.topic};\n\n","outputs":1,"noerr":0,"x":550,"y":540,"wires":[["f81ff0ec.7cd3c"]]},{"id":"40371070.744308","type":"ui_button","z":"824d7b57.79e558","name":"","group":"9d78edbe.9c7c18","order":6,"width":0,"height":0,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":380,"y":600,"wires":[["614a724b.ec803c"]]},{"id":"f5c7e8d4.c61a9","type":"inject","z":"824d7b57.79e558","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":140,"wires":[[]]},{"id":"ad80dbb6.ef7748","type":"inject","z":"824d7b57.79e558","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":540,"wires":[[]]},{"id":"88d23b37.9e408","type":"cloudant in","z":"824d7b57.79e558","name":"","cloudant":"","database":"variable","service":"node-red-aiymi-cloudant-1591679196311-427","search":"_all_","design":"","index":"","x":220,"y":300,"wires":[["d741eac7.c33e2","44131fb3.f402a"]]},{"id":"4610ffc2.0fe918","type":"cloudant out","z":"824d7b57.79e558","name":"","cloudant":"","database":"variable","service":"node-red-aiymi-cloudant-1591679196311-427","payonly":true,"operation":"insert","x":420,"y":500,"wires":[]},{"id":"52d58b41.31d154","type":"cloudant out","z":"824d7b57.79e558","name":"","cloudant":"","database":"variable","service":"node-red-aiymi-cloudant-1591679196311-427","payonly":false,"operation":"delete","x":540,"y":160,"wires":[]},{"id":"ba0ea20b.19cd18","type":"function","z":"824d7b57.79e558","name":"","func":"msg.payload = {\n    \"_id\": global.get('id_'),\n  \"_rev\": global.get('rev_'),\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":200,"wires":[["52d58b41.31d154"]]},{"id":"2461ff98.43cfb8","type":"function","z":"824d7b57.79e558","name":"","func":"msg.payload = {\n    'count' : global.get(\"c1\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":520,"wires":[["4610ffc2.0fe918"]]},{"id":"44131fb3.f402a","type":"function","z":"824d7b57.79e558","name":"","func":"global.set('count2',msg.payload[0].count)\nglobal.set('id_',msg.payload[0]._id)\nglobal.set('rev_',msg.payload[0]._rev)\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":440,"wires":[[]]},{"id":"1feba4a.e33d0db","type":"schedex","z":"824d7b57.79e558","name":"","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"06:37","ontopic":"","onpayload":"","onoffset":0,"onrandomoffset":0,"offtime":"06:41","offtopic":"","offpayload":"","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":140,"y":180,"wires":[["ba0ea20b.19cd18"]]},{"id":"b14a983f.da5228","type":"schedex","z":"824d7b57.79e558","name":"","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"06:35","ontopic":"","onpayload":"","onoffset":0,"onrandomoffset":0,"offtime":"06:40","offtopic":"","offpayload":"","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":150,"y":240,"wires":[["88d23b37.9e408"]]},{"id":"4a6f2276.fa4ecc","type":"schedex","z":"824d7b57.79e558","name":"","passthroughunhandled":false,"suspended":false,"lat":"","lon":"","ontime":"06:36","ontopic":"","onpayload":"","onoffset":0,"onrandomoffset":0,"offtime":"06:38","offtopic":"","offpayload":"","offoffset":0,"offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":120,"y":420,"wires":[["2461ff98.43cfb8"]]},{"id":"be406287.627908","type":"sentiment","z":"a690c307.24a3d","name":"","property":"payload","x":520,"y":340,"wires":[["2cddbedb.7cb91a"]]},{"id":"988371f7.044ae","type":"sentiment","z":"57325d17.95157c","name":"","property":"payload","x":300,"y":520,"wires":[["64fc2859.b6536","1280991.4bc7a67"]]},{"id":"93a6bef2.43bfd","type":"twitter in","z":"a690c307.24a3d","d":true,"twitter":"7cfcc003.7b44e8","tags":"","user":"false","name":"","inputs":1,"x":250,"y":60,"wires":[["ea28a5b3.55fce8","f708c36c.b4eb58"]]},{"id":"d5356d2d.2498b","type":"inject","z":"a690c307.24a3d","d":true,"name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["659c8896.382788"]]},{"id":"659c8896.382788","type":"function","z":"a690c307.24a3d","name":"","func":"msg.payload='covid,lockdown,corona'\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":160,"wires":[["93a6bef2.43bfd"]]},{"id":"82e56ec2.77139","type":"comment","z":"f98521dd.b7dcf8","name":"Comment for Background","info":"if the background color changes to \"White\", go to \"Angular\", change \"Background\" to \"Light-Blue\" and \"Light/Dark\" to \"Dark\".","x":510,"y":340,"wires":[]}]
